# I94 Immigration Data Warehouse
### Data Engineering Capstone Project by Thelma Obirieze

#### Project Summary
The objective of this project is design a data warehouse for 194 Immigration data. This data is collected by the US National Tourism and Trade Office and contains details of all immigrants coming into the country and their ports of entry. 

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
import re
import psycopg2
from collections import defaultdict
from datetime import datetime, timedelta
from pyspark.sql import SparkSession
from sql_queries import airport_insert, demographic_insert, immigration_insert, countries_insert

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = "/opt/conda/bin:/opt/spark-2.4.3-bin-hadoop2.7/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/jvm/java-8-openjdk-amd64/bin"
os.environ["SPARK_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df_spark =spark.read.load('./sas_data')
print("Completed, ran successfully")

Completed, ran successfully

In [3]:
df_spark.show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
|5748522.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20579.0|  57.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1959.0|10292016|     M|  null|     NZ|9.498180283E10|00010|      B2|
|5748523.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  66.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1950.0|10292016|     F|  null|     NZ|9.497968993E10|00010|      B2|
|5748524.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  41.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1975.0|10292016|     F|  null|     NZ|9.497974673E10|00010|      B2|
|5748525.0|2016.0|   4.0| 245.0| 464.0|    HOU|20574.0|    1.0|     FL|20581.0|  27.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1989.0|10292016|     M|  null|     NZ|9.497324663E10|00028|      B2|
|5748526.0|2016.0|   4.0| 245.0| 464.0|    LOS|20574.0|    1.0|     CA|20581.0|  26.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1990.0|10292016|     F|  null|     NZ|9.501354793E10|00002|      B2|
|5748527.0|2016.0|   4.0| 245.0| 504.0|    NEW|20574.0|    1.0|     MA|20576.0|  44.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1972.0|10292016|     M|  null|     UA|9.493828593E10|01215|      B2|
|5748528.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|   null|20575.0|  39.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1977.0|10292016|     M|  null|     CM|9.501810463E10|00472|      B2|
|5748529.0|2016.0|   4.0| 245.0| 504.0|    WAS|20574.0|    1.0|     VA|20596.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10292016|     M|  null|     CM|9.492489983E10|00488|      B2|
|5748530.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  56.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1960.0|10292016|     F|  null|     CM|9.492648103E10|00302|      B2|
|5748531.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10282016|     M|  null|     CM|9.492629303E10|00302|      B2|
|5748532.0|2016.0|   4.0| 245.0| 504.0|    MIA|20574.0|    1.0|     FL|20581.0|  53.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1963.0|10292016|     F|  null|     CM|9.500640513E10|00430|      B2|
|5748534.0|2016.0|   4.0| 245.0| 528.0|    SFR|20574.0|    1.0|     CA|   null|  84.0|    2.0|  1.0|20160430|     HNK| null|      G|   null|   null|   null| 1932.0|10282016|     F|  null|     CX|9.492476223E10|00872|      B2|
|5748876.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  43.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1973.0|10292016|     M|  null|     UA|9.499463063E10|05574|      B1|
|5748877.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  30.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1986.0|10292016|     F|  null|     UA|9.499447663E10|05574|      B1|
|5748881.0|2016.0|   4.0| 245.0| 582.0|    LOS|20574.0|    1.0|     CA|20575.0|  34.0|    2.0|  1.0|20160430|     SHG| null|      G|      O|   null|      M| 1982.0|10292016|     M|  null|     AM|9.496770903E10|00646|      B2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

### Step 1: Scope the Project and Gather Data

#### Scope 
In this project, I will be pulling the data from the I94 Immigration data store (sas_data) and I create fact and dimension tablesin the data warehouse where this data will be stored.

In addition, I will be using the following data 
* US Cities Demographics data which contains data by US city, state, age, population, veteran status and race.
* Countries Data
* Airport codes data

With the data, I plan to create a data warehouse that the Business Analysts can use to make further analysis


#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

##### Data Source 1: I94 immigration data

The I94 immigration data is sourced from the US National Tourism and Trade Office and it contains the following structure

In [4]:
# Read in the data here
df_immigration = df_spark

In [5]:
df_immigration.head()

Row(cicid=5748517.0, i94yr=2016.0, i94mon=4.0, i94cit=245.0, i94res=438.0, i94port='LOS', arrdate=20574.0, i94mode=1.0, i94addr='CA', depdate=20582.0, i94bir=40.0, i94visa=1.0, count=1.0, dtadfile='20160430', visapost='SYD', occup=None, entdepa='G', entdepd='O', entdepu=None, matflag='M', biryear=1976.0, dtaddto='10292016', gender='F', insnum=None, airline='QF', admnum=94953870030.0, fltno='00011', visatype='B1')

##### I94 Immigration Data Structure

Below shows the data structure of the Immigration data

In [6]:
df_immigration.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

#### Data Source 2: US Cities Demographics data

The US Cities Demographics data comes from OpenSoft. I will be using the csv format of the data for this project

In [7]:
file_cities = './us-cities-demographics.csv'
df_cities = pd.read_csv(file_cities, sep=';')

In [8]:
df_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

##### US Cities Data Structure

Below shows the data structure of the us cities data

In [9]:
df_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
City                      2891 non-null object
State                     2891 non-null object
Median Age                2891 non-null float64
Male Population           2888 non-null float64
Female Population         2888 non-null float64
Total Population          2891 non-null int64
Number of Veterans        2878 non-null float64
Foreign-born              2878 non-null float64
Average Household Size    2875 non-null float64
State Code                2891 non-null object
Race                      2891 non-null object
Count                     2891 non-null int64
dtypes: float64(6), int64(2), object(4)
memory usage: 271.1+ KB

#### Data Source 3: Airport Codes Data
In addition, I will be utilizing the airport codes file as a dimenion to show more information about the immigrants port of entry

In [10]:
file_ports = './airport-codes_csv.csv'
df_airports = pd.read_csv(file_ports)

In [11]:
df_airports.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

##### Airport codes Data Structure

In [12]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55075 entries, 0 to 55074
Data columns (total 12 columns):
ident           55075 non-null object
type            55075 non-null object
name            55075 non-null object
elevation_ft    48069 non-null float64
continent       27356 non-null object
iso_country     54828 non-null object
iso_region      55075 non-null object
municipality    49399 non-null object
gps_code        41030 non-null object
iata_code       9189 non-null object
local_code      28686 non-null object
coordinates     55075 non-null object
dtypes: float64(1), object(11)
memory usage: 5.0+ MB

#### Data Source 4: Countries Codes Data

In [13]:
df_countries = pd.read_csv('country-codes_csv.csv')

In [14]:
df_countries.head()

,FIFA,Dial,ISO3166-1-Alpha-3,MARC,is_independent,ISO3166-1-numeric,GAUL,FIPS,WMO,ISO3166-1-Alpha-2,...,Sub-region Name,official_name_ru,Global Name,Capital,Continent,TLD,Languages,Geoname ID,CLDR display name,EDGAR
0,TPE,886,TWN,ch,Yes,158.0,925,TW,NaN,TW,...,NaN,NaN,NaN,Taipei,AS,.tw,"zh-TW,zh,nan,hak",1668284.0,Taiwan,NaN
1,AFG,93,AFG,af,Yes,4.0,1,AF,AF,AF,...,Southern Asia,Афганистан,World,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,Afghanistan,B2
2,ALB,355,ALB,aa,Yes,8.0,3,AL,AB,AL,...,Southern Europe,Албания,World,Tirana,EU,.al,"sq,el",783754.0,Albania,B3
3,ALG,213,DZA,ae,Yes,12.0,4,AG,AL,DZ,...,Northern Africa,Алжир,World,Algiers,AF,.dz,ar-DZ,2589581.0,Algeria,B4
4,ASA,1-684,ASM,as,Territory of US,16.0,5,AQ,NaN,AS,...,Polynesia,Американское Самоа,World,Pago Pago,OC,.as,"en-AS,sm,to",5880801.0,American Samoa,B5

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

#### Identifying data quality issues in each of the data source

In this steps I will be looking out for:
* Duplicates
* Nulls
* Incorrect Data formats

##### Cleaning Immigration Data

In [16]:
df_immigration.createOrReplaceTempView("immigration_view")

In [17]:
df_immigration2 = spark.sql("SELECT cicid, CAST(i94yr as INT) AS i94yr , CAST(i94mon as INT) AS i94mon , CAST(i94cit as int) i94cit, CAST(i94res as int) i94res, i94port as port_code, i94addr as state_code, cast(i94visa as int) visa_type, cast(i94mode as int) as mode_type , visapost, gender, airline, visatype, \
date_add(to_date('1960-01-01'), arrdate) AS arrival_date, date_add(to_date('1960-01-01'), depdate) AS departure_date FROM immigration_view")

In [18]:
df_immigration2.show()

+---------+-----+------+------+------+---------+----------+---------+---------+--------+------+-------+--------+------------+--------------+
|    cicid|i94yr|i94mon|i94cit|i94res|port_code|state_code|visa_type|mode_type|visapost|gender|airline|visatype|arrival_date|departure_date|
+---------+-----+------+------+------+---------+----------+---------+---------+--------+------+-------+--------+------------+--------------+
|5748517.0| 2016|     4|   245|   438|      LOS|        CA|        1|        1|     SYD|     F|     QF|      B1|  2016-04-30|    2016-05-08|
|5748518.0| 2016|     4|   245|   438|      LOS|        NV|        1|        1|     SYD|     F|     VA|      B1|  2016-04-30|    2016-05-17|
|5748519.0| 2016|     4|   245|   438|      LOS|        WA|        1|        1|     SYD|     M|     DL|      B1|  2016-04-30|    2016-05-08|
|5748520.0| 2016|     4|   245|   438|      LOS|        WA|        1|        1|     SYD|     F|     DL|      B1|  2016-04-30|    2016-05-14|
|5748521.0| 2016|     4|   245|   438|      LOS|        WA|        1|        1|     SYD|     M|     DL|      B1|  2016-04-30|    2016-05-14|
|5748522.0| 2016|     4|   245|   464|      HHW|        HI|        2|        1|     ACK|     M|     NZ|      B2|  2016-04-30|    2016-05-05|
|5748523.0| 2016|     4|   245|   464|      HHW|        HI|        2|        1|     ACK|     F|     NZ|      B2|  2016-04-30|    2016-05-12|
|5748524.0| 2016|     4|   245|   464|      HHW|        HI|        2|        1|     ACK|     F|     NZ|      B2|  2016-04-30|    2016-05-12|
|5748525.0| 2016|     4|   245|   464|      HOU|        FL|        2|        1|     ACK|     M|     NZ|      B2|  2016-04-30|    2016-05-07|
|5748526.0| 2016|     4|   245|   464|      LOS|        CA|        2|        1|     ACK|     F|     NZ|      B2|  2016-04-30|    2016-05-07|
|5748527.0| 2016|     4|   245|   504|      NEW|        MA|        2|        1|     GUZ|     M|     UA|      B2|  2016-04-30|    2016-05-02|
|5748528.0| 2016|     4|   245|   504|      LOS|      null|        2|        1|     GUZ|     M|     CM|      B2|  2016-04-30|    2016-05-01|
|5748529.0| 2016|     4|   245|   504|      WAS|        VA|        2|        1|     PNM|     M|     CM|      B2|  2016-04-30|    2016-05-22|
|5748530.0| 2016|     4|   245|   504|      LOS|        CA|        2|        1|     PNM|     F|     CM|      B2|  2016-04-30|    2016-05-03|
|5748531.0| 2016|     4|   245|   504|      LOS|        CA|        2|        1|     PNM|     M|     CM|      B2|  2016-04-30|    2016-05-03|
|5748532.0| 2016|     4|   245|   504|      MIA|        FL|        2|        1|     PNM|     F|     CM|      B2|  2016-04-30|    2016-05-07|
|5748534.0| 2016|     4|   245|   528|      SFR|        CA|        2|        1|     HNK|     F|     CX|      B2|  2016-04-30|          null|
|5748876.0| 2016|     4|   245|   582|      HOU|        TX|        1|        1|     GUZ|     M|     UA|      B1|  2016-04-30|    2016-05-09|
|5748877.0| 2016|     4|   245|   582|      HOU|        TX|        1|        1|     GUZ|     F|     UA|      B1|  2016-04-30|    2016-05-09|
|5748881.0| 2016|     4|   245|   582|      LOS|        CA|        2|        1|     SHG|     M|     AM|      B2|  2016-04-30|    2016-05-01|
+---------+-----+------+------+------+---------+----------+---------+---------+--------+------+-------+--------+------------+--------------+
only showing top 20 rows

In [19]:
df_immigration2.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- port_code: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- visa_type: integer (nullable = true)
 |-- mode_type: integer (nullable = true)
 |-- visapost: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- departure_date: date (nullable = true)

##### Writing the pandas

In [21]:
df_immigration_pd = df_immigration2.select("*").toPandas()

In [23]:
df_immigration_pd.head()

,cicid,i94yr,i94mon,i94cit,i94res,port_code,state_code,visa_type,mode_type,visapost,gender,airline,visatype,arrival_date,departure_date
0,5748517.0,2016,4,245,438,LOS,CA,1,1.0,SYD,F,QF,B1,2016-04-30,2016-05-08
1,5748518.0,2016,4,245,438,LOS,NV,1,1.0,SYD,F,VA,B1,2016-04-30,2016-05-17
2,5748519.0,2016,4,245,438,LOS,WA,1,1.0,SYD,M,DL,B1,2016-04-30,2016-05-08
3,5748520.0,2016,4,245,438,LOS,WA,1,1.0,SYD,F,DL,B1,2016-04-30,2016-05-14
4,5748521.0,2016,4,245,438,LOS,WA,1,1.0,SYD,M,DL,B1,2016-04-30,2016-05-14

In [24]:
df_immigration_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096313 entries, 0 to 3096312
Data columns (total 15 columns):
cicid             float64
i94yr             int32
i94mon            int32
i94cit            int32
i94res            int32
port_code         object
state_code        object
visa_type         int32
mode_type         float64
visapost          object
gender            object
airline           object
visatype          object
arrival_date      object
departure_date    object
dtypes: float64(2), int32(5), object(8)
memory usage: 295.3+ MB

###### Cleaning US Cities data

In [25]:
# Checking and droping duplicates 
df_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [26]:
# Checking and droping duplicates 
df_cities.duplicated().any()

False

In [27]:
# Checking for Nulls
df_cities.isnull().values.any()

True

In [28]:
#removing nulls
df_cities.dropna(inplace=True)

In [29]:
#changing data types

df_cities["Male Population"] =  df_cities["Male Population"].astype(int) 
df_cities["Female Population"] = df_cities["Female Population"].astype(int)
df_cities["Number of Veterans"] = df_cities["Number of Veterans"].astype(int)
df_cities["Foreign-born"] = df_cities["Foreign-born"].astype(int)
df_cities["Total Population"] = df_cities["Total Population"].astype(int)
df_cities["Count"] = df_cities["Count"].astype(int)

In [30]:
# Checking if na still exists
df_cities.isnull().values.any()

False

###### Cleaning airport data

In [31]:
# Checking for Nulls

df_airports['iata_code'].isnull().sum()

45886

###### Fixing the data

In [32]:
# dropping records with nulls in iata_code column

clean_df_airports = df_airports
clean_df_airports.dropna(subset=['iata_code'], inplace=True)

In [33]:

df_airports.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
223,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,K03N,UTK,03N,"169.852005, 11.222"
440,07FA,small_airport,Ocean Reef Club Airport,8.0,NaN,US,US-FL,Key Largo,07FA,OCA,07FA,"-80.274803161621, 25.325399398804"
594,0AK,small_airport,Pilot Station Airport,305.0,NaN,US,US-AK,Pilot Station,NaN,PQS,0AK,"-162.899994, 61.934601"
673,0CO2,small_airport,Crested Butte Airpark,8980.0,NaN,US,US-CO,Crested Butte,0CO2,CSE,0CO2,"-106.928341, 38.851918"
1088,0TE7,small_airport,LBJ Ranch Airport,1515.0,NaN,US,US-TX,Johnson City,0TE7,JCY,0TE7,"-98.62249755859999, 30.251800537100003"

In [34]:
clean_df_airports.shape

(9189, 12)

In [35]:
df_airports.shape

(9189, 12)

In [36]:
# Get port locations from SAS text file

with open("./I94_SAS_Labels_Descriptions.SAS") as f:
    content = f.readlines()
content = [x.strip() for x in content]
ports = content[302:962]
splitted_ports = [port.split("=") for port in ports]
port_codes = [x[0].replace("'","").strip() for x in splitted_ports]
port_locations = [x[1].replace("'","").strip() for x in splitted_ports]
port_cities = [x.split(",")[0] for x in port_locations]
port_states = [x.split(",")[-1] for x in port_locations]
df_port_locations = pd.DataFrame({"port_code" : port_codes, "port_city": port_cities, "port_state": port_states})
df_port_locations.head(20)

   port_code                 port_city port_state
0        ALC                     ALCAN         AK
1        ANC                 ANCHORAGE         AK
2        BAR  BAKER AAF - BAKER ISLAND         AK
3        DAC             DALTONS CACHE         AK
4        PIZ    DEW STATION PT LAY DEW         AK
5        DTH              DUTCH HARBOR         AK
6        EGL                     EAGLE         AK
7        FRB                 FAIRBANKS         AK
8        HOM                     HOMER         AK
9        HYD                     HYDER         AK
10       JUN                    JUNEAU         AK
11       5KE                 KETCHIKAN         AK
12       KET                 KETCHIKAN         AK
13       MOS  MOSES POINT INTERMEDIATE         AK
14       NIK                   NIKISKI         AK
15       NOM                       NOM         AK
16       PKC               POKER CREEK         AK
17       ORI            PORT LIONS SPB         AK
18       SKA                   SKAGWAY         AK
19       SNP           ST. PAUL ISLAND         AK

In [37]:
df_airports = df_airports.merge(df_port_locations, left_on="iata_code", right_on="port_code")
df_airports.head()
df_airports.drop(columns=["port_code"], inplace=True)
df_airports = df_airports[["iata_code", "name", "type", "local_code", "coordinates", "port_city", "elevation_ft", "continent", "iso_country", "iso_region", "municipality", "gps_code"]]

In [38]:
df_airports['iata_code'].duplicated().sum()

7

In [39]:
df_airports.drop_duplicates(subset ="iata_code",
                     keep = False, inplace = True)

In [40]:
df_airports['iata_code'].duplicated().sum()

0

In [41]:
df_airports.head()

,iata_code,name,type,local_code,coordinates,port_city,elevation_ft,continent,iso_country,iso_region,municipality,gps_code
0,TKI,Tokeen Seaplane Base,seaplane_base,57A,"-133.32699585, 55.9370994568",TOKEEN,NaN,NaN,US,US-AK,Tokeen,57A
1,BKF,Lake Brooks Seaplane Base,seaplane_base,5Z9,"-155.77699279785, 58.554798126221",No PORT Code (BKF),36.0,NaN,US,US-AK,Katmai National Park,5Z9
2,AXB,Maxson Airfield,small_airport,89NY,"-75.90034, 44.312002",ALEXANDRIA BAY,340.0,NaN,US,US-NY,Alexandria Bay,89NY
3,FRE,Fera/Maringe Airport,small_airport,NaN,"159.576996, -8.1075",FRESNO,NaN,OC,SB,SB-IS,Fera Island,AGGF
4,ANZ,Angus Downs Airport,small_airport,NaN,"132.2748, -25.0325",ANZALDUAS,1724.0,OC,AU,AU-NT,Angus Downs Station,NaN

###### Cleaning Countries data

In [42]:
df_countries = df_countries[['FIPS', 'CLDR display name', 'Capital']]

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

The data model used for this project are:
### Dimension Tables
* dim_airports
    iata_code   
    name        
    type        
    local_code  
    coordinates  
    city         
    elevation_ft 
    continent    
    iso_country
    iso_region  
    municipality
    gps_code     
* dim_cities
    city                  
    state                 
    media_age             
    male_population        
    female_population    
    total_population     
    num_veterans          
    foreign_born         
    average_household_size 
    state_code            
    race                  
    count                 
* dim_countries
    country_code                   
    country                
    capital             

### Fact table(s)
* fact_immigration
    cicid   
    year    
    month   
    cit      
    res     
    port_code    
    state_code  
    visa_type    
    mode_type   
    visapost  
    gender    
    airline   
    visatype    
    arrival_date 
    departure_date 

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model


The steps involves in the data pipeline process are:
* Initial ETL from the different data sources that accessed, transformed and loaded the data into pandas dataframe
* Running the create_tables.py script to create the dimension tables and fact atble in the data ware house
* Inserting the data from the dataframes into the data warehouse

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [43]:
#Creating tables
%run create_tables.py

In [44]:
## Establishing connection to DB
conn = psycopg2.connect("host=127.0.0.1 dbname=udacity_thelma user=student password=student")
cur = conn.cursor()

from sql_queries import airport_insert, demographic_insert, immigration_insert

In [45]:
for index, row in df_airports.iterrows():
    cur.execute(airport_insert, list(row.values))
    conn.commit()

In [46]:
for index, row in df_cities.iterrows():
    cur.execute(demographic_insert, list(row.values))
    conn.commit()

In [ ]:
for index, row in df_immigration_pd.iterrows():
    cur.execute(immigration_insert, list(row.values))
    conn.commit()

In [ ]:
for index, row in df_countries.iterrows():
    cur.execute(countries_insert, list(row.values))
    conn.commit()

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [59]:
# Perform quality checks here

# Perform quality checks here
cur.execute("SELECT COUNT(*) FROM dim_airports")
conn.commit()
if cur.rowcount < 1:
    print("No data found in table airports")
    
cur.execute("SELECT COUNT(*) FROM dim_cities")
conn.commit()
if cur.rowcount < 1:
    print("No data found in table cities")

cur.execute("SELECT COUNT(*) FROM dim_countries")
conn.commit()
if cur.rowcount < 1:
    print("No data found in table countries")
    
cur.execute("SELECT COUNT(*) FROM fact_immigrations")
conn.commit()
if cur.rowcount < 1:
    print("No data found in table immigrations")

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.


### Airports 

* IDENT - Identification code
* TYPE - Type of the airport
* NAME - Name of the Airport
* ELEVATION_FT - Elevation above the sea level in feet
* CONTINENT - Continent code
* ISO_COUNTRY - Country code according to ISO
* ISO_REGION - Region code according to ISO
* MUNICIPALITY - Mucipality where the airport is located
* GPS_CODE - GPS code
* IATA_CODE - Code of the airport assigned by International Air Transport Association
* LOCAL_CODE - Local code of the airport
* COORDINATES - GPS coordinates - longitude and latitude  

### Cities
* STATE_CODE - Two-letter code of the state
* STATE - Name of the state
* MEDIAN_AGE - Median age in the state (estimation)
* AVERAGE_HOUSEHOLD_SIZE - Average number of people loving in a household in the state (estimation)
* TOTAL_POPULATION - Number of citizens
* FEMALE_POPULATION - Number of female citizens
* MALE_POPULATION - Number of male citizens
* NUMBER_OF_VETERANS - Number of veteran citizens
* BLACK_OR_AFRICAN_AMERICAN - Number of citizens belonging to this ethnic group
* HISPANIC_OR_LATINO - Number of citizens belonging to this ethnic group
* ASIAN - Number of citizens belonging to this ethnic group
* AMERICAN_INDIAN_AND_ALASKA_NATIVE - Number of citizens belonging to this ethnic group
* WHITE - Number of citizens belonging to this ethnic group
* FOREIGN_BORN - Number of citizens born outside of US 
    
### Countries
* COUNTRY_CODE   - Country Code                
* COUNTRY      - Country name          
* CAPITAL     - country's capital        

### I94 Immigration 
* CICID - Record ID
* I94YR - 4 digit year
* I94MON - Numeric month
* I94CIT - Contry of citizenship
* I94RES - Country of residence
* I94PORT - Airport of addmittance into the USA
* ARRDATE - Arrival date in the USA
* I94MODE - Mode of transportation (1 = Air; 2 = Sea; 3 = Land; 9 = Not reported)
* I94ADDR - State of arrival
* DEPDATE - Departure date
* I94BIR - Age of the visitor
* I94VISA - Visa codes: (1 = Business; 2 = Pleasure; 3 = Student)
* DTADFILE - Character date field
* GENDER - Gender of the visitor
* VISAPOST - Department of State where where Visa was issued
* FLTNO - Flight number of Airline used to arrive in U.S.
* VISATYPE - Class of admission legally admitting the non-immigrant to temporarily stay in U.S.
* arrival_year - Numeric year of the arrival (used for data partitioning)
* arrival_month - Numeric month of the arrival (used for data partitioning)
* arrival_day - Numeric day of the arrival (used for data partitioning)

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.