In [1]:
%run etl.py

Load song_data starting...
...Load song_data completed. Time taken for fun program:  73.50203204154968
root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- year: integer (nullable = true)

Loading songs_table starts...
...Loading songs_table completes. Time taken for fun program:  125.18407416343689
Loading artists_table starts...
...Loading artists_table completes. Time taken for fun program:  112.14047861099243
Load log_data starting...
...Load log_data completed.
Load users_table starts...
...Loading users_table completes. Time taken for fun program:  9.668612957000732
Loading time_table starts...
...Loading time_table completes. Time taken for fun program:  7.093257665634155

In [2]:
import configparser
import os
from pyspark.sql import SparkSession

config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID'] = config.get('AWS', 'AWS_ACCESS_KEY_ID')
os.environ['AWS_SECRET_ACCESS_KEY'] = config.get('AWS', 'AWS_SECRET_ACCESS_KEY')

spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
spark

In [2]:
df = spark.read.parquet("users/")

In [3]:
df.head(5)

[Row(user_id='88', first_name='Mohammad', last_name='Rodriguez', gender='M', level='free'),
 Row(user_id='68', first_name='Jordan', last_name='Rodriguez', gender='F', level='free'),
 Row(user_id='29', first_name='Jacqueline', last_name='Lynch', gender='F', level='free'),
 Row(user_id='75', first_name='Joseph', last_name='Gutierrez', gender='M', level='free'),
 Row(user_id='69', first_name='Anabelle', last_name='Simpson', gender='F', level='free')]

In [4]:
df.printSchema

In [9]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
df.registerTempTable("users")

spark.sql("select * from users").show()

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     88|  Mohammad|Rodriguez|     M| free|
|     68|    Jordan|Rodriguez|     F| free|
|     29|Jacqueline|    Lynch|     F| free|
|     75|    Joseph|Gutierrez|     M| free|
|     69|  Anabelle|  Simpson|     F| free|
|     40|    Tucker| Garrison|     M| free|
|     61|    Samuel| Gonzalez|     M| free|
|     14|  Theodore|   Harris|     M| free|
|      2|   Jizelle| Benjamin|     F| free|
|     52|  Theodore|    Smith|     M| free|
|     12|    Austin|  Rosales|     M| free|
|     17|  Makinley|    Jones|     F| free|
|    100|     Adler|  Barrera|     M| free|
|     53|   Celeste| Williams|     F| free|
|     56|    Cienna|  Freeman|     F| free|
|     38|    Gianna|    Jones|     F| free|
|     36|   Matthew|    Jones|     M| free|
|     88|  Mohammad|Rodriguez|     M| paid|
|     73|     Jacob|    Klein|     M| paid|
|     77| Magdalene|   Herman|     F| free|
+-------+----------+---------+------+-----+
only showing top 20 rows